*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: "Montserrat" , arial;
    overflow-x: hidden;
    
}
header{
    width: 100%;
    height: 100px;
    background-color: black;
}

.header{
    max-width: 1140px;
    height: 100px;
    color:white;
    display: flex;
    align-items: center;
    
    margin: auto;
    
}

.logoImg{
    width: 80px;
    height: 80px;
    border-radius: 40px;
    background-color: #B28756;
}

.logo{
    width: 80px;
}

.menu{
    display: flex;
    flex:1;
    justify-content: flex-end;
}

nav ul {
    display: flex;
    list-style: none;
    

}
nav ul li {
    padding: 10px;
    
}

 a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    padding-left: 5px;
    padding-right: 5px;
    height: 100px;
    display:flex;
    align-items: center;
    border-bottom: 5px solid black;


    
    
}

.menu ul li a:hover{
    border-bottom: 5px solid #b28756;
}

.banner{
   background-color:#333;
   height: calc(100vh - 100px);
   background-image: url(./imagens/complementos/bg.jpg);
   background-position: bottom;
   background-size: cover;
   overflow: hidden;
}

.banner .sliders{
    height: 100%;
    width: 1000vw;
    
}

.banner .slide{
    display: inline-block;
    flex:1;
    width:100vw;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.banner .slidearea{
    color:white;
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
    flex-direction: column;
}

.banner h1{
    font-weight: bold;
    font-size:50px;
    text-transform: uppercase;
}

.banner h1 span{
    color:#B28756;
}
.banner h2{
    margin-top: 15px;
    display: flex;
    text-transform: uppercase;
    
}

.banner a{
    margin-top:13px;
    text-decoration: none;
    border-bottom: 0px solid;
    width:200px;
    height: 50px;
    background-color: #b28756;
    border-radius: 15px;
    box-shadow: 5px 1px 5px black;
    font-size:15px;
    text-align: center;
}

.pontos{
    width:100vw;
    height: 20px;
    
    position:absolute;
    margin-top: -50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner .bolinhas{
    width:15px;
    height: 15px;
    border:2px solid #b28756;
    border-radius: 7px;
    margin-left:10px;
    cursor: pointer;
}

.ativado{
    background: #B28756;
}

.dark{
    background-color:black;
    color:white;
}

.white{
     background-color:#f7f7f7;
     color:black;
}

.padrao{
    
    padding-top: 50px;
    padding-bottom:50px;
}

.titulo{
    text-align: center;
    font-weight: 600;
    font-size:20px;
    text-transform: uppercase;
    
    
}

.descricao{
    text-align: center;
    font-size:13px;
    color:	#C0C0C0BB;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom:40px;
    

}

.corpo{
    
    text-align: center;
}

.padrao .corpo{
    max-width:1140px;
    margin:auto;
    
}























/*
OUTRA PARTE
*/

.corpoAbout{
    display: flex;
}

.corpoleft{
    flex: 1;
    text-align: left;
}

.corporigth{
    width:500px;
    box-shadow: 5px 6px 10px black;
    margin-right: 15px;
    text-align: center;
}

.corpoleft a{
    text-decoration:none;
    color:black;
    border-bottom:0px;
    width:130px;
    height: 50px;
    background-color:#b28756;
    color:black;
    padding: 10px;
    margin-top:15px;
    border-radius:10px;
}

.corporigth img{
    width:460px;
}

.corpoleft p{
    font-size:13px;
    line-height: 23px;
}

.servicos{
    display: flex;

}

.itens{
    flex:1;
    text-align: center;
}

.tracinho{
    width:2px;
    height: 200px;
    background:gray;
}

h4{
    margin-top:10px;
    margin-bottom: 10px;
    
    text-transform: uppercase;
}

.itens p{
    font-size:15px;
    color:#999;
}

.filtros ul{
    list-style: none;
    display:inline-flex;
    border:1px solid #C0C0C0;
    border-radius:10px;
    background-color: #DCDCDCbb;
    cursor: pointer;
    font-size:13px;
}

.filtros li{
    padding: 10px;
    border-left:1px solid #c0c0c0;
    text-transform: uppercase;
    color:#555;
    
}

.filtros ul li:hover {
    border-bottom: 3px solid #b28756 ;
}

.filtros li:first-child{
    border-left:0px;
}


.fotos{
    display: flex;
    justify-content: center;
    margin-top: 15px;
    width:100vw;
    max-width: 1140px;
   
    flex-wrap: wrap;
}

.foto{
    width:280px;
    flex:1;
   
}

.fotoArea{
    margin: 10px;
    width:260px;
    height: 160px;
}

.fotoArea img{
    width: inherit;
    height: inherit;
}

.fotoInfo{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: inherit;
    height: inherit;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color:#fff;
    
}
.fotoInfo p{
    font-size:13px;
    margin-top:7px;
}

.fotoInfo h5{
    font-size:18px;
    font-weight: 600;
}

.fotoArea:hover .fotoInfo{
    display: flex;
}

.btn{
    margin-top:13px;
    text-decoration: none;
    border-bottom: 0px solid;
    width:200px;
    height: 50px;
    background-color: #b28756;
    border-radius: 15px;
    margin:auto;
    font-size:15px;
    text-align: center;
    display:flex;
    justify-content: center;
    align-items: center;
}

.fotoTeam{
    background-image: url('./imagens/complementos/bg.jpg');
    background-size: cover;
    background-position:center;
    padding: 0px;
    margin-top:30px;
   

}

.areacolor{
    background-color:rgba(0, 0, 0, 0.8);
    padding-top: 50px;
    padding-bottom:50px;
    
}








.team{
    overflow: hidden;
    max-width: 1000px;
    margin:auto;
 
}
.team .slide{
    display: inline-block;
   
    width:300px;
    min-height: 300px;
    height: 300px;
    background-color:white;
    margin-right: 20px;
  
   

}

.team .slidearea{
    color:white;
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    padding:30px;
}


.team .pontos{
    
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:auto;
    margin-left: -170px;
    margin-top:20px;
    margin-bottom: 10px;
}

.team .bolinhas{
    width:15px;
    height: 15px;
    border:2px solid #b28756;
    border-radius: 7px;
    margin-left:10px;
    cursor: pointer;
    
}
.nomeTeam{
  text-transform: lowercase;
  color:black;
  font-weight: 600;
  margin-top:25px;
  font-size:14px;

}
.cargoTeam{
    text-transform: lowercase;
    font-size:12px;
    color:#C0C0C0;
}

.social{
    
    margin-top:14px;
}
.social ul{
    list-style: none;
    display: inline-flex;
    margin-top:10px;
    cursor: pointer;
    
}
.social li{
    background-color: gray;
    width: 40px;
    height: 40px;
    border-radius:20px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-left:10px;
}

.social ul li:hover{
    background-color:#b28756;
}

.clientes{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.tituloCl{
    font-weight: 600;
    font-size:21px;
    margin-bottom: 10px;
   
}

.miniTiTu{
    color:#C0C0C0;
    margin-bottom: 15px;
}
.nome{
    font-weight: bold;
    margin-top:15px;
    margin-bottom: 15px;
}

.frase{
    margin-top:7px;
    margin-bottom: 10px;
    font-size:16px;
    font-weight: initial;
}
.fraseMaior{ 
  text-align: justify;
  line-height: 1.6;
  color:gray;
    
    width:400px
}

.clientes .pontos{
    
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:auto;
    margin-left: -5px;
    margin-top:500px;
    margin-bottom: 1px;
}

.clientes .bolinhas{
    width:15px;
    height: 15px;
    border:2px solid #b28756;
    border-radius: 7px;
    margin-left:10px;
    cursor: pointer;
    
}

.marcas{
    width:100%;
    height: 100px;
    
    margin-top:110px;
    border:1px solid #DCDCDC;
    box-shadow: 5px 5px 5px gray;
    margin-bottom:10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.marcas ul {
    list-style: none;

}

.marcas ul li {
    display:inline-flex;
    padding:10px;
    margin-left:10px;
    margin-right: 10px;
}

.precos{
    width:100%;
    height: 500px;
    background-color: #DCDCDCBB;
    
    
}

.preco{
    display: flex;
   justify-content: center;
   
   
   padding: 5px;
   font-size: 25px;
   margin-top: 20px;
  
  
 
}
.valores{
    display: flex;
    margin-top: 50px;
    justify-content: center;
}

.vf{
    width:300px;
    height: 400px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
   
    align-items: center;
    
    margin-left: 10px;
}

.frase1{
    font-weight: 600;
    margin-top:70px;
    margin-bottom: 10px;
}

.denero{
    font-weight: 600;
    font-size:25px;
}

.n1{
    color:	#C0C0C0;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 12px;
}

.n2{
    color:	#C0C0C0;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size:12px;
}

.n3{
    color:	#C0C0C0;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 12px;
}

.vf a {
    background-color: black;
    color: white;
    border-radius: 50px;
    width: 150px;
    height: 70px;
    justify-content: center;
    margin-top: 10px;
}

.premioo{
    width:100%;
    height: 400px;
    
    
    
}

.frasePremio{
    font-size: 20px;
    font-weight: 600;
    color: black;
    display: flex;
    justify-content: center;
    padding: 20px;
    
}

.f2{
    font-size: 14px;
    color: #c0c0c0;
    display: flex;
    justify-content: center;
    margin-top: -10px;
}

.premioo span{
    font-size: 18px;
    font-weight: 600;
}
 .imagem{
     display: flex;
     justify-content: center;
     margin-top:10px;
 }

 .textos ul li {
     list-style: none;
     margin-bottom: 15px;
     margin-top:15px;
     color:#c0c0c0;
     font-size:14px;
 }

 .textos ul li span {
     color:black;
 }

 .numeros{
     font-size: 50px;
     font-weight: 700;
     color:#b28756;
 }


.nf{
    font-size: 20px;
    font-weight: 600;
    color: black;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 25px;
}

.nf1{
    font-size: 14px;
    color:#C0C0C0;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}


.formNome{
    
    display: flex;
    justify-content: center;
    
  
}

#nome{
    width: 250px;
    height: 55px;
    border: none;
    margin-right: 14px;

    border-bottom: 1px solid gray;

}

#sobreN{
    width: 250px;
    border: none;
    

    border-bottom: 1px solid gray;

}


#email{
    width:540px;
    height: 55px;
    border: none;
   display: flex;
   justify-content: center;
   align-items: center;
  

    border-bottom: 1px solid gray;
}

.formMail{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: -1px;
    flex-direction: column;
}

.formMail a{
    text-decoration:none;
    font-size:15px;
    
    border-bottom:0px;
    width:130px;
    height: 50px;
    background-color:#b28756;
    color:#fff;
    padding: 10px;
    margin-top:15px;
    border-radius:10px;

}

.vf a:hover {
    background-color: #b28756;
    border-bottom: #b28756;
}

.mapa{
    background-image: url('./imagens/complementos/mapa.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width:100%;
    height: 400px;
    
}
.mapaArea{
    width:100vw;
    max-width:1140px;
    margin: auto;
    
    

}

.mapaConteudo{
    width:500px;
    height: 300px;
    padding: 30px;
    background-color:#fff;
    margin-top: 30px;

}

.mapaConteudo ul li {
    list-style: none;
    margin-bottom: 10px;
    color: #C0C0C0;
    font-size: 14px;

}

.mapaConteudo ul li img{
    width:20px;
    height: 20px;
    border-radius: 10px;
    background-color:gray;
    
}

